body {
background-image: url("https://media.istockphoto.com/vectors/virus-bacteria-vector-background-cells-disease-outbreak-coronavirus-vector-id1211544068?b=1&k=20&m=1211544068&s=170667a&w=0&h=PkI8-dBOXM_98b9I7F2_BB8D4nhoPvWmdlk8nVxaygo=");
background-repeat: no-repeat;
background-size: 100% 100%;


}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
